.card {

  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 12px;
  padding-top: 19px;
  padding-bottom: 25px;

  &--show-more {
    grid-template-columns: 1fr;
    padding: 25px 0;
    padding-bottom: 24px;
    row-gap: 19px;
  }
}

.card__link-img {
  grid-column: 1;
}

